.list-container {
    width: auto;
    height: auto;
    margin: 0.5rem;
    text-align: center;
    border: 0.5rem solid white;
    border-radius: 0.5rem;
    padding: 5rem;
    background-color: white;
}